
body{
    margin:0;
}
.zone{
    margin:0px;
    width: 100%;
    height:96px;
    top:0;
    position:fixed;
    font-family:"Salesforce Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding:0px 0px;
    background-color: #ffffff;
    color:#080707;
    display:flex;
}   
.img-links{
    margin: 21.5px 40px;
    vertical-align:middle;
}
a,img{
    vertical-align: middle;
}
.nav-links>a{
    color:#080707;
    padding:0px 16px;
    margin-top:34px;
    margin-bottom:34px;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
}
a.first-link{
    margin-left:15px;
}
a:hover{
    color:#0176d3;
}
.nav-logo, .nav-links{
    float:inline-start;
}
.nav-links{
    margin:10px;
}
.nav-logo{
    height:48.03px;
    width:68px;
}
.offset-info{
    display:flex;
    margin:auto 20px;
    height:100%;
    float:right;
}
.offset-info>div{
    margin:auto 20px;
}
.phone-no>p{
    text-align: center;
    font-size:14px;
    margin:0px;
    padding:2px;
}
.ofs-search{
    background-image:url('https://a.sfdcstatic.com/shared/images/c360-nav/icons.svg#search-blue');
    height:18px;
    width:18px;
    border-radius:9px;
    border:0;
}
.ofs-search:hover{
    background-image:url('https://a.sfdcstatic.com/shared/images/c360-nav/icons.svg#search-light-blue');
}
.ofs-web{
    background-image: url('https://a.sfdcstatic.com/shared/images/c360-nav/icons.svg#globe-blue');
    height:18px;
    width:18px;
    border-radius:9px;
    border:0;
}
.ofs-web:hover{
    background-image: url('https://a.sfdcstatic.com/shared/images/c360-nav/icons.svg#globe-light-blue');
}
.ofs-login{
    display:flex;
    margin:auto 40px;
    vertical-align: center;
}
#login{
    height:18px;
    width:18px;
}
.ofs-login>a{
    color:#080707;
    text-decoration: none;
}
#text-login{
    padding: 2px;
}